<h1>Hi</h1>
<br>
<br>

<p>You'r typed login: <%= @login %> </p>
<p>You'r typed password: <%= @password %> </p>
<p><%= @if_stop %></p>


<form action="/" method="POST">
	<input type="text" name="asd">
	<input type="password" name="pass">
	<input type="submit">
</form>
